<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">

    <!--新增司机-->
    <insert id="addDriver" parameterType="com.xzsd.pc.driver.entity.Driver" >
        INSERT INTO t_sys_User (
            user_id,
            user_name,
            phone,
            user_image,
            user_acct,
            user_password,
            id_card,
            role,
            sex,
            is_delete,
            create_time,
            create_user,
            update_time,
            update_user,
            version
        )
        VALUES(
                #{driverId},
                #{userName},
                #{phone},
                #{userImage},
                #{userAcct},
                #{userPassword},
                #{idCard},
                #{role},
                0,
                0,
                NOW( ),
                #{createUser},
                NOW( ),
                #{createUser},
                0);
        INSERT INTO t_info_driver (
            driver_id,
            province_id,
            city_id,
            area_id,
            is_delete,
            create_time,
            create_user,
            update_time,
            update_user,
            version )
        VALUES(
                #{driverId},
                #{provinceId},
                #{cityId},
                #{areaId},
                0,
                NOW( ),
                #{createUser},
                NOW( ),
                #{createUser},
                0 )
    </insert>

    <!--获取司机详情-->
    <select id="getDriver" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.Driver">
        SELECT
            e.user_name userName,
            e.phone,
            e.user_acct userAcct,
            e.user_password userPassword,
            e.user_image userImage,
            e.id_card idCard,
            a.province_id provinceId,
            a.city_id cityId,
            a.area_id areaId,
            b.area_name provinceName,
            c.area_name cityName,
            d.area_name areaName,
            a.version
        FROM
            t_info_driver a
            LEFT JOIN t_sys_user e ON a.driver_id = e.user_id
            LEFT JOIN t_info_area_level b ON a.province_id = b.area_id
            LEFT JOIN t_info_area_level c ON a.city_id = c.area_id
            LEFT JOIN t_info_area_level d ON a.area_id = d.area_id
        WHERE
            a.driver_id = #{driverId}
    </select>

    <!--获取所有司机信息-->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.Driver" resultType="com.xzsd.pc.driver.entity.Driver">
        SELECT
            a.driver_id driverId,
            b.user_name userName,
            b.phone,
            b.id_card idCard,
            b.user_acct userAcct,
            a.version
        FROM
            t_info_driver a
            LEFT JOIN t_sys_user b ON a.driver_id = b.user_id
        <if test="Dr.role == 2">
            LEFT JOIN t_info_store c ON c.is_delete = 0
            AND c.province_id = a.province_id
            AND c.city_id = a.city_id
            AND c.area_id = a.area_id
            LEFT JOIN t_info_area_level d ON d.area_id = c.province_id
            LEFT JOIN t_info_area_level e ON e.area_id = c.city_id
            LEFT JOIN t_info_area_level f ON f.area_id = c.area_id
        </if>
        WHERE
            a.is_delete = 0
        <if test="Dr.driverId != null and Dr.driverId != '' ">
            AND a.driver_id LIKE  concat('%',#{Dr.driverId},'%')
        </if>
        <if test="Dr.userName != null and Dr.userName != '' ">
            AND b.user_name LIKE  concat('%',#{Dr.userName},'%')
        </if>
        <if test="Dr.provinceId != null and Dr.provinceId != '' ">
            AND a.province_id = #{Dr.provinceId}
        </if>
        <if test="Dr.cityId != null and Dr.cityId != '' ">
            AND a.city_id = #{Dr.cityId}
        </if>
        <if test="Dr.areaId != null and Dr.areaId != '' ">
            AND a.area_id = #{Dr.areaId}
        </if>
        <if test="Dr.role == 2">
            AND c.user_id = #{nowLogin}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.Driver" >
        UPDATE t_info_driver
        SET
        <if test="provinceId != null and provinceId!= '' ">
            province_id = #{provinceId},
        </if>
        <if test="cityId != null and cityId!= '' ">
            city_id = #{cityId},
        </if>
        <if test="areaId != null and areaId!= '' ">
            area_id = #{areaId},
        </if>
            version = version + 1
        WHERE
            is_delete = 0
            AND driver_id = #{driverId}
            AND version = #{version};
        UPDATE t_sys_user
        SET
            user_name = #{userName},
            phone = #{phone},
            user_acct = #{userAcct},
            user_password = #{userPassword},
            user_image = #{userImage},
            id_card = #{idCard},
            version = version + 1
        WHERE
            is_delete = 0
            AND user_id = #{driverId}
            AND version = #{version}
    </update>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="java.lang.String">
        UPDATE t_info_driver
        SET
            is_delete = 1,
            update_time =NOW(),
            update_user = #{updateUser}
        WHERE
            driver_id IN
        <foreach item="item" index="index" collection="listDriverId" open = "(" separator="," close=");">
            #{item}
        </foreach>
        UPDATE t_sys_user
        SET
            is_delete = 1,
            update_time = NOW(),
            update_user = #{updateUser}
        WHERE
            user_id IN
        <foreach item="item" index="index" collection="listDriverId" open = "(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>
